{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Crypto Tracker</h1>
    <p>
        
    </p>
    <p>
        <h3 class="text-warning">Create an account to unlock all of the features.</h3>
    </p>
    <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title text-warning">Upload Your Transactions</h5>
          <p class="card-text">Upload and process your crytpo trading transactions to find insight into your trading.</p>
          <img src="{% static 'html_parser/images/upload_preview.jpeg' %}" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-warning">Track Your Stats</h5>
          <p class="card-text">View important metrics such as profit and loss.</p>
        </div>
        <img src="{% static 'html_parser/images/dashboard_preview01.jpeg' %}" class="card-img-top" alt="...">
      </div>
{% endblock content %}
    