{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Data Processing Center
{% endblock title %}
    

{% block content %}
<div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title">Transform .HTML to .CSV</h5>
      <p class="card-text">Upload your .html file here to transform it into a downloadable .csv file.</p>
      <form action="{% url 'html_upload' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Transform</button>
        </form>
    </div>
  </div>
  
  <div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title">Upload For Analysis</h5>
      <p class="card-text">Upload your transactions via a .csv file here.</p>
      <form action="{% url 'csv_upload' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
  </div>
  <div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title">Remove Duplicate Transactions</h5>
      <p class="card-text">Clean your data to increase accuracy by removing duplicate transactions in your records.</p>
      <form action="{% url 'remove_duplicates' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Remove</button>
      </form>
    </div>
  </div>
  <div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title">Delete All Transactions</h5>
      <p class="card-text">Are you sure you want to delete all transactions?</p>
      <form action="{% url 'delete_all_transactions' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Reset</button>
      </form>
    </div>
  </div>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
