{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Data Processing Center
{% endblock title %}
    

{% block content %}
<div class="vstack gap-3">
  <div class="p-auto">
    <div class="row">
      <h1>Process Your Data</h1>
      <p>Follow the three steps below to clean and format your web-scraped data.</p>
    </div>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          <div class="card w-auto mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transform .HTML to .CSV</h5>
                    <p class="card-text">Upload your.html file here to transform the data for analysis and convert it into a downloadable .csv file.</p>
                    <form action="{% url 'html_upload' %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Transform</button>
                      </form>
                </div>    
              </div>
              <div class="col-md-4">
                  <img src="{% static 'html_parser/images/step_01.png' %}" class="img-fluid rounded-end" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card w-auto mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Upload For Analysis</h5>
                  <p class="card-text">Upload your transformed converted_transactions.csv file here to store for analysis.</p>
                  <form action="{% url 'csv_upload' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Upload</button>
                    </form>
                </div>   
              </div>
              <div class="col-md-4">
                  <img src="{% static 'html_parser/images/step_02.png' %}" class="img-fluid rounded-end" alt="...">
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card w-auto mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Remove Any Duplicate Transactions</h5>
                  <p class="card-text">Clean your uploaded data to increase accuracy by removing duplicate transactions in your records.</p>
                  <form action="{% url 'remove_duplicates' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Remove</button>
                  </form>
                </div>   
              </div>
              <div class="col-md-4">
                  <img src="{% static 'html_parser/images/step_03.png' %}" class="img-fluid rounded-end" alt="...">
              </div>
            </div>
          </div>
        </li>
      </ol>
  </div>
   <div class="container text-center mb-3" style="width: 64rem;">
    <div class="row align-items-center">
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Delete All of Your Transactions</h5>
          <p class="card-text">Are you sure you want to delete all transactions from your account?</p>
          <form action="{% url 'delete_all_transactions' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Reset</button>
          </form>
          {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="text-danger">{{ message }}</li>
          {% endfor %}
          {% endif %}
          </li>
        </ul>
    </div>
  </div>  
</div>
{% endblock %}
